////////////
// Color Scheme
// First Color Scheme
$white: #FFF;
$red: #f44336;
$paleblue: #92dce5;
$gray: #ccc;


//Font Family
$montserrat: 'Montserrat', sans-serif;
$open-sans: 'Open Sans', sans-serif;

// Font Weight
$thin:300;
$regular: 400;
$bold: 700;

// Font Sizes
$large: 45px;
$medium: 16px;
$small: 14px;
$x-small: 10px;
